body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
transition:0.3s;
}

.dark{
background:#121212;
color:white;
}

.controls{
margin:20px;
}

input,select{
padding:10px;
margin:5px;
}

button{
padding:10px 15px;
background:#0077ff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.task{
background:white;
width:350px;
margin:10px auto;
padding:15px;
border-radius:10px;
box-shadow:0 3px 6px rgba(0,0,0,0.2);
}

.dark .task{
background:#1e1e1e;
}

.progressBox{
width:350px;
margin:auto;
}

.progressBar{
background:#ddd;
height:10px;
border-radius:10px;
}

#progress{
height:10px;
width:0%;
background:#00c853;
border-radius:10px;
}
